.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
docker.yml
compose.yaml
compose.yml
node_modules
vendor
npm-debug.log*
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.md
.editorconfig
.idea
.vscode
